{% extends 'main/base.html' %}
{% load crispy_forms_tags %}



{% block content %}

</br></br></br>
</br></br></br>

  <div class="container">
     
           <h1>
             Add new Project ....
            </h1>



                  <form enctype='multipart/form-data' method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button type="submit">Add new one ...</button>
                    </form>
                  
                  <div class="container" style="width: 400px">
                
        

{% endblock  %}
