{% extends 'main/base.html' %}
{% load i18n %}
{% block title %}logout{% endblock %}
{% block content %}

<section>
   <div class="container mb-5">
      <div class="row">
         <div class="col-lg-6 col-md-10 col-12 text-center">
            <h1 class="section-header display-6">{% trans 'You have been logged out' %}</h1>
            <div class="container" style="width: 400px">

               <div class="border-top pt-3 text-center">
                  <small class="text muted">
                     <a class=" btn btn-primary text-white" href="{% url 'login' %}">{% trans 'Log In Again' %}</a>
                  </small>
                  <hr>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

{% endblock %}