{% extends 'main/base.html' %}
{% load i18n %}
{% block title %}password reset complete{% endblock %}
{% block content %}

<section>
  <div class="container mb-5">
    <div class="row">
      <div class="col-lg-6 col-md-10 col-12">
        <h2 class="section-header">
          {% trans 'Password Reset Complete' %}
        </h2>
        <div class="container" style="width: 400px">
          <p>
            {% trans 'Your password has been set. You may go ahead and' %} <a
              href="{% url 'login' %}">{% trans 'log in' %}</a> now.
          </p>
          <p>
            {% trans "If you don't receive an email, please make sure you've entered the address you registered with," %}</br>
            {% and check your spam folder." %}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}