{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %}logging{% endblock %}
{% block content %}

<section>
   <div class="container">
      <div class="row">
         <div class="col-lg-6 col-md-10 col-12 text-center">
            <h2 class="section-header">
               Your password was successfully updated!
            </h2>
            <div class="container" style="width: 400px">

               <hr>
            </div>
         </div>

         <!-- Is this below needed for some reasons? -->
         <div class="row margin-top-45">
            <div class="col-md-12">
               <!-- <img class="img-responsive margin-top-45" src="img/5.jpg" alt="me"> -->
            </div>
         </div>
         <!-- To this point -->
      </div>
   </div>

</section>

{% endblock %}