{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %}logging{% endblock %}
{% block content %}

    <section>
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <h1>
                   Your password was successfully updated!
                </h1>
                <div class="container" style="width: 400px">

                <hr>
             </div>
          </div>
          <div class="row margin-top-45">
             <div class="col-md-12">
                <!-- <img class="img-responsive margin-top-45" src="img/5.jpg" alt="me"> -->
             </div>
          </div>
       </div>
       </div>

    </section>

{% endblock %}
