{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %}logging{% endblock %}
{% block content %}

<section>
   <div class="container">
      <div class="row">
         <div class="col-lg-6 col-md-10 col-12 text-center">
            <h2 class="section-header">
               Your password was successfully updated!
            </h2>
            <div class="container" style="width: 400px">

               <hr>
            </div>
         </div>

      </div>
   </div>

</section>

{% endblock %}