{% extends 'main/base.html' %}
{% block title %}password reset info{% endblock %}
{% load i18n %}
{% block content %}

<section>
   <div class="container mb-5">
      <div class="row">
         <div class="col-lg-6 col-md-10 col-12">
            <h2 class="section-header">
               {% trans 'Password Reset Info' %}
            </h2>
            <div class="container" style="width: 400px">
               <p>
                  {% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered." %}</br>
                  {% trans "You should receive them shortly." %}
               </p>
               <p>
                  {% trans "If you don't receive an email, please make sure you've entered the address you registered with," %}</br>
                  {% trans "and check your spam folder."%}
               </p>
            </div>
         </div>
      </div>
   </div>
</section>

{% endblock %}