{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
{% load crispy_forms_tags %}

<!-- load i18n don't working on that part of code -->

<section>
     <div class="container form-container text-left mb-5">
          <div class="col-lg-6 col-md-10 col-12">

               <h1 class="section-header display-6">
                    Edit Profile
               </h1>

               <!-- this h3/button propably isn't needed here. Remove it? -->
               <!-- you are styling the template, you decide, please :)-->
               <h3><a class="btn btn-outline-warning"
                         href=" {% url 'main:add_project' %} ">{% trans 'Add new project'%}</a> </h3>

               {{author.username}}
               {% if author.image %}
               <p><img alt="author photo" src="{{ author.image.url}}" height="225" /></p>
               {%else%}
               <p><img src="{% static 'main/img/default_user_pic.jpeg' %}" alt="user pic"></p>
               {%endif%}
               <br>
               <p><a class="btn btn-outline-warning"
                         href="{% url 'password-change' %}">{% trans 'Change Password' %}</a></p>

               <form action="." method='post' enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button type="submit" class="btn btn-primary">{% trans 'Update' %}</button>

                    <!-- submitting form not working (404 error after click) -->

               </form>

          </div>
     </div>

</section>


{% endblock %}