{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<section>
    <div class="container">
        <br>
        {% if request.user.is_authenticated and author.username == user.username %}
            <h3><a class="btn btn-outline-warning" href=" {% url 'main:add_project' %} ">{% trans 'Add new project' %}</a></h3>
            <h3><a class="btn btn-outline-warning" href=" {% url 'profile_edit' author.username %} ">{% trans 'Edit Profile' %}</a> </h3>
            <br>
            {{user.username}}
            {% if user.image %}
                <p><img alt="author photo" src="{{ user.image.url }}" height="225" /></p>
            {% else %}
                <p><img src="{% static 'main/img/default_user_pic.jpeg' %}" alt="user pic"></p>
            {% endif %}<br>
            {{author.cv}}
        {% else %}
            {{author.username}}
            {% if author.image %}
                <p><img alt="author photo" src="{{ author.image.url }}" height="225" /></p>
            {% else %}
                <p><img src="{% static 'main/img/default_user_pic.jpeg' %}" alt="user pic"></p>
            {% endif %}</br>

            {{author.cv}}

        {%endif%}
    </div>

</section>

{% endblock %}