{% extends 'main/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}Registration{% endblock %}
{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-10 col-12">
                <h1 class="section-header display-6">
                    {% trans 'Register to publish your work,'%} <br>
                    {% trans 'Be able to join contests!'%}
                </h1>
                <div class="container form-group" style="width: 400px">
                    <h3 class="info-title"></h3>
                    <h4>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div>
                                <button type="submit" class="btn btn-primary">{% trans 'Register now' %}</button>
                            </div>
                        </form>
                    </h4>

                    <div class="border-top pt-3">
                        <small class="text muted">
                            {% trans 'Already Have An Account?' %} <a class="ml-2"
                                href="{% url 'login' %}">{% trans 'Log in' %} </a>
                        </small>
                    </div>
                </div>
                <hr>
            </div>

        </div>
    </div>
</section>

{% endblock %}

<!-- błędy nie wyświetlają się na czerwono - dobrze byłoby zmienić