{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Registration{% endblock %}
{% block content %}

    <section>
       <div class="container">
          <div class="row">
             <div class="col-md-12">
              <h1>
                 Register to publish your work, <br>
                 Be able to join contests!
              </h1>
                <div class="container form-group" style="width: 400px">
                    <h3 class="info-title"></h3>
                        <h4><form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div>
                                <button type="submit">Register now</button>
                            </div>
                            </form>
                        </h4>

                    <div class="border-top pt-3">
                        <small class="text muted">
                            Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Log in</a>
                        </small>
                    </div>
                </div>
                <hr>
          </div>
          <div class="row margin-top-45">
             <div class="col-md-12">
                <!-- <img class="img-responsive margin-top-45" src="img/5.jpg" alt="me"> -->
             </div>
          </div>
       </div>
       </div>
    </section>

{% endblock %}

<!-- błędy nie wyświetlają się na czerwono - dobrze byłoby zmienić