{% extends "main/base.html" %}
{% load static %}
<!--
{% load new_tags %} -->
<!-- registered new filter -->
{% block content %}

<!-- 
</br></br></br> -->
<section>
   <div class="container">
      <h3>Top 10 Projects</h3>
      <br>
      {% for p in projects %}
      <p>Author : {{p.user}} </p>
      <p>Project : <a href=" {% url 'main:project_view' p.id %}">{{p.title}}</a> </p>

      <p>Rating : {{p.average_rating}} </p>
      <p>----------</p>
      {% endfor %}

      </br></br>



   </div>

</section>

{% endblock %}