{% extends "main/base.html" %}
{% load static %}
{% load new_tags %}
<!-- registered new filter -->
{% block content %}

<div class="subcontainer">
    <h1>Authors of JS code </h1>

    {% for author in authors %}
    <div class="col-sm-6 col-md-4 no-gutter text-center margin-top-30 flex-authors">
        <!-- <div class="flex-authors"> -->
        <!-- splitting query in two -- modulo function - registered filter in in templatetags/new_tags.py -->
        <!-- no splitting required - all done with CSS -->
        {% if author.image %}
        <p class='author-photo'><img alt="author photo" src="{{ author.image.url}}" height="225" /></p></br>
        {%else%}
        <p class='author-photo'><img src="{% static 'main/img/default_user_pic.jpeg' %}" alt="user pic"></p>
        {%endif%}
        <p class="author-name"> <a href=" {% url 'main:profile' author.username %}">{{author.username}}</a></p>
        <!-- </div> -->
    </div>
    {% endfor %}

    <div style="clear:both;"></div>
</div>


{% endblock %}