{% load static %}
{% load i18n %}
<!doctype html>

<html>

<head>
   <meta charset="utf-8">
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="">

   <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300,400&display=swap" rel="stylesheet">

   <!-- Bootstrap CSS -->

   <!-- Zastąpione pliki bootstrapa3 -->
   <!-- <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}"> -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


   <!-- <link rel="stylesheet" type="text/css" href="{% static 'main/css/lightbox.css' %}"> -->

   <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">


   <title>
      {% block title %}JSart{% endblock %}
   </title>
</head>

<body>

   <div class="circle">
      <div class="circle-lg"></div>
      <div class="circle-sm"></div>
      <div class="circle-blue"></div>
      <div class="circle-gold"></div>
   </div>

   <!-- right corner navbar  -->
   <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <div class="container">
         <a class="navbar-brand" href="{% url 'main:home' %}">
            <img class="logo" src="{% static 'main/img/logo.png' %}" alt="logo">
         </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item"><a class="nav-link" href="{% url 'main:home' %}">{% trans 'Home' %}</a></li>
               <li class="nav-item"><a class="nav-link" href="{% url 'main:portfolio' %}">{% trans 'Projects' %}</a>
               </li>
               <li class="nav-item"><a class="nav-link" href="{% url 'main:authors'  %}">{% trans 'Authors' %}</a></li>
               <li class="nav-item"><a class="nav-link" href="{% url 'ranking:ranking' %}">{% trans 'Ranking' %}</a>
               </li>
               <li class="nav-item"><a class="nav-link" href="{% url 'main:contact' %}">{% trans 'Contact' %}</a></li>
               <li class="nav-item"><a class="nav-link" href="{% url 'main:about' %}">{% trans 'About' %}</a></li>

               {% if request.user.is_authenticated %}
               <li class="nav-item"><a class="nav-link"
                     href="{% url 'profile' user.username %}">{% trans 'Profile' %}</a></li>
               <li class="nav-item">
                  <span class="ml-lg-5 small">{{ request.user }} /</span> <a class="nav-link small"
                     href="{% url 'logout' %}">{% trans 'Logout' %}</a>
               </li>


               {% else %}
               <li class="nav-item">
                  <a class="nav-link small" href="{% url 'login' %}">{% trans 'Login' %}</a>
                  <span>/</span> <a class="nav-link small" href="{% url 'register' %}">{% trans 'Sign in' %}</a>
               </li>

               {% endif %}
    



 

               
               {% comment %} end language form --------------------------------------------- {% endcomment %}
                <form action="{% url 'main:home' %}" method="post">{% csrf_token %}
                  <input name="next" type="hidden" value="{{ request.get_full_path }}">
                     {% get_current_language as LANGUAGE_CODE %}
                     {% get_available_languages as LANGUAGES %}
                     {% get_language_info_list for LANGUAGES as languages %}
                     {% for language in languages %}
                    <input class="{% if language.code == LANGUAGE_CODE %} selected{% endif %}" type="submit" name="language" value="{{ language.code }}" data-toggle="tooltip" data-placement="bottom" title="{{ language.name_local }}">
                     {% endfor %}
               </form>
 
               {% comment %} language form ----------------------------------- {% endcomment %}






            </ul>
         </div>
      </div>
   </nav>

   <!-- Successfull registration message !!!! message wchodzi na logo, trzeba przesunąć na środek albo w prawo-->
   {% if messages %}
   {% for message in messages %}
   <div class="alert alert-{{ message.tags }}">
      {{ message }}
   </div>
   {% endfor %}
   {% endif %}

   {% block content %}
   {% endblock %}


   <script type="text/javascript">
      function openSesame() {
         window.open("http://color-wander.surge.sh/", "_new");
      }
   </script>

   <!-- Zastąpione pliki bootstrapa3  -->
   <!-- <script src="{% static 'main/js/jquery.js' %}"></script>
   <script src="{% static 'main/js/bootstrap.min.js' %}"></script> -->

   <!-- Bootstrap 4 -->
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
   <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
   </script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
   </script>
   <!--  -->

   <script src="{% static 'main/js/jquery.shuffle.min.js' %}"></script>
   <script src="{% static 'main/js/menu-color.js' %}"></script>
   <script src="{% static 'main/js/modernizr.js' %}"></script>
   <script src="{% static 'main/js/script.js' %}"></script>
   <script src="{% static 'main/js/code.js' %}"></script>

</body>

</html>