{% extends "main/base.html" %}
{% load static %}
{% block content %}
{% load new_tags %}

<section>

  <div class="container text-center">

    <h2 class="section-header">Portfolio</h2>
    <br />

    <!-- <div class="col-md-12 no-gutter text-center fill margin-top-30 "> -->

    {% for project in projects %}

    <div class="col-sm-6 col-md-4 no-gutter text-center margin-top-30 flex-project">
      <p><span>Title :</span> {{project.title}}</p>
      <p><span>Author :</span> {{project.user}}</p>
      <a href=" {% url 'main:project_view' project.id %}"><img alt="project thumbnail" src={{project.thumbnail.url}}
          width="400" /></a>
    </div>

    {% endfor %}

    <div style="clear:both;"></div>
    <!-- </div> -->

  </div>

</section>


{% endblock %}