<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>{{projects.title}}</title>
</head>

<body>
 
  {% if projects %}
  <a href=" {% url 'main:runscript' projects.id %}" class="btn btn-primary text-white"><img src="{{projects.thumbnail.url}}" class="img-fluid img-gray" alt="project thumbnail"></a>

  
</br>
  {{projects.description}}

  {% endif %}

  {% if vote %}
  <!-- <br> -->
  <p>Your vote was sent</p>
  {% else %}
  <h4>
    Rating
  </h4>
  <form action="#" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Rate this project</button>
  </form>

  {% endif %}
  
</body>

</html>