@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import 'https://fonts.googleapis.com/css?family=Fauna+One';

/*---------- Global Style ----------*/

body {
    color: #222;
    font-family: 'Fauna One', serif;
    font-size: 17px;
    line-height: 1.8 !important;

    background-color: #f7f7f7;
    /* background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23c1c1c1' fill-opacity='0.23'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */

}

html {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    color: #111;
    line-height: 1.5em;
    margin-top: 0;
}

p {
    font-family: 'Fauna One', serif;
    font-weight: 300;
    margin-top: 1px;
}

p,
ul,
li {
    color: #666;
}

section {
    padding-top: 10px;
    /* padding-bottom: 185px; */
}

.no-gutter {
    padding-right: 0;
    padding-left: 0;
}

a,
a:link {
    color: #666;
}

a:hover,
a:focus,
a:visited {
    color: #666;
    text-decoration: none;
}

.vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.fill {
    height: 100vh;
}

.margin-top-05 {
    margin-top: 0.5em;
}

.margin-top-10 {
    margin-top: 1.0em;
}

.margin-top-15 {
    margin-top: 1.5em;
}

.margin-top-20 {
    margin-top: 2.0em;
}

.margin-top-25 {
    margin-top: 2.5em;
}

.margin-top-30 {
    margin-top: 3.0em;
}

.margin-top-35 {
    margin-top: 3.5em;
}

.margin-top-40 {
    margin-top: 4.0em;
}

.margin-top-45 {
    margin-top: 4.5em;
}

/*---------- Navbar ----------*/

.nav {
    position: relative;
    width: auto;
    display: inline-block;
    border: none;
    float: right;
    z-index: 99999;
}

.navbar-fixed-top {
    padding-top: 0px;
}

.navbar-brand {
    padding-top: 0px;
}

@media (orientation:landscape) {
    .navbar-brand {
        padding-top: 0px;
    }
}

.navbar-brand>img {
    max-width: 80px;
    z-index: 9999;
    transition: .3s;
}

.navbar-brand>img.small {
    max-width: 50px;
}

@media (max-width: 768px) {
    .navbar-brand {
        padding-left: 0px;
    }

    .navbar-brand>img {
        max-width: 50px;
    }
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default.color-fill {
    background-color: #fff;
    border-color: transparent;
}

.btn-nav {
    background: transparent;
    border: none;
    padding: 5px 15px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    z-index: 99999;
}

@media (max-width: 768px) {
    .btn-nav {
        padding: 15px 0;
    }
}

.btn-nav:focus {
    outline: 0;
}

.icon-bar {
    display: block;
    margin: 6px 0;
    width: 30px;
    height: 3px;
    background-color: #222;
}

.icon-bar.inverted {
    background-color: #fff;
}

@media (max-width: 992px) {
    .icon-bar.inverted {
        background-color: #222;
    }
}

.opaque {
    background-color: #fff;
}

.btn-nav:hover .icon-bar {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    background-color: #555;
}

.nav-content {
    position: fixed;
    top: -100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
    display: block;
    height: 100%;
    z-index: 9;
}

.nav-list {
    list-style: none;
    padding: 0;
    position: relative;
}

.item-anchor {
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    position: relative;
    text-decoration: none;
    padding: 10px;
}

.item-anchor:hover,
.item-anchor:focus {
    color: #ffffff;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.item-anchor:hover:after,
.item-anchor:focus:after {
    width: 100%;
    background: #f7f7f7;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.nav-item {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    margin: 5px auto;
    text-align: center;
    color: #222;
}

.nav-item a {
    display: inline-block;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.nav-item a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-110%);
    width: 100%;
    height: 2px;
    background-color: dodgerblue;
    transition: transform .3s ease, background-color .3s .2s ease;
}

.nav-item a:link,
.nav-item a:hover,
.nav-item a:focus {
    color: #222;
}

.nav-item a:hover::before,
.nav-item a:focus::before {
    transform: translateX(0);
    background-color: goldenrod;
}

.nav-link.small {
    vertical-align: bottom;
}

.nav-item span {
    display: inline-block;
    padding: .5rem 0;
    vertical-align: top;
}

.animated {
    display: block;
    margin: 0 auto;
}

.animated:hover .icon-bar,
.animated:focus .icon-bar {
    background-color: #fff;
}

.animated:focus {
    cursor: pointer;
    z-index: 9999;
}

.middle {
    margin: 0 auto;
}

.icon-bar {
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
    z-index: 999999;
}

.animated .icon-bar {
    z-index: 999999;
    background-color: #222 !important;
}

.animated .top {
    -webkit-transform: translateY(7px) rotateZ(45deg);
    -moz-transform: translateY(7px) rotateZ(45deg);
    -ms-transform: translateY(7px) rotateZ(45deg);
    -o-transform: translateY(7px) rotateZ(45deg);
    transform: translateY(7px) rotateZ(45deg);
}

.animated .bottom {
    -webkit-transform: translateY(-11px) rotateZ(-45deg);
    -moz-transform: translateY(-11px) rotateZ(-45deg);
    -ms-transform: translateY(-11px) rotateZ(-45deg);
    -o-transform: translateY(-11px) rotateZ(-45deg);
    transform: translateY(-11px) rotateZ(-45deg);
}

.animated .middle {
    width: 0;
}

@keyframes showNav {
    from {
        top: -100%;
    }

    to {
        top: 0;
    }
}

@-webkit-keyframes showNav {
    from {
        top: -100%;
    }

    to {
        top: 0;
    }
}

@-moz-keyframes showNav {
    from {
        top: -100%;
    }

    to {
        top: 0;
    }
}

@-o-keyframes showNav {
    from {
        top: -100%;
    }

    to {
        top: 0;
    }
}

.showNav {
    -webkit-animation: showNav 1s ease forwards;
    -moz-animation: showNav 1s ease forwards;
    -o-animation: showNav 1s ease forwards;
    animation: showNav 1s ease forwards;
}

@keyframes hideNav {
    from {
        top: 0;
    }

    to {
        top: -100%;
    }
}

@-webkit-keyframes hideNav {
    from {
        top: 0;
    }

    to {
        top: -100%;
    }
}

@-moz-keyframes hideNav {
    from {
        top: 0;
    }

    to {
        top: -100%;
    }
}

@-o-keyframes hideNav {
    from {
        top: 0;
    }

    to {
        top: -100%;
    }
}

.hideNav {
    -webkit-animation: hideNav 1s ease forwards;
    -moz-animation: hideNav 1s ease forwards;
    -o-animation: hideNav 1s ease forwards;
    animation: hideNav 1s ease forwards;
}

.hidden {
    display: none;
}

/*---------- Menu Icon Animation ----------*/

.navbar-toggle * {
    -ms-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.navbar-toggle {
    border: medium none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    height: 50px;
    padding: 16px;
    width: 50px;
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fff;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #fff;
}

.navbar-toggle span {
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #222;
    display: block;
}

.navbar-toggle span.bar1 {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-transform-origin: 1px 3px;
    -webkit-transform-origin: 1px 3px;
    -moz-transform-origin: 1px 3px;
    -o-transform-origin: 1px 3px;
    transform-origin: 1px 3px;
    width: 31px;
}

.navbar-toggle span.bar2 {
    -ms-transform: rotate(-360deg) scale(0);
    -webkit-transform: rotate(-360deg) scale(0);
    -moz-transform: rotate(-360deg) scale(0);
    -o-transform: rotate(-360deg) scale(0);
    transform: rotate(-360deg) scale(0);
}

.navbar-toggle span.bar3 {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -ms-transform-origin: 8px 2px;
    -webkit-transform-origin: 8px 2px;
    transform-origin: 8px 2px;
    width: 31px;
}

.navbar-toggle.collapsed span.bar1,
.navbar-toggle.collapsed span.bar2,
.navbar-toggle.collapsed span.bar3,
.navbar-toggle.collapsed span.bar4 {
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    width: 30px;
}

/*---------- Header ----------*/

#header {
    height: 50%;
    margin: 0 auto;
    position: relative;
    color: #fff;
    text-align: center;
    background-size: cover;
}

#headslide {
    position: relative;
}

#headslide .img-responsive,
#headslide .thumbnail>img,
#headslide .thumbnail a>img,
#headslide .carousel-inner>.item>img,
#headslide .carousel-inner>.item>a>img {
    height: 100vh;
    max-width: none;
    object-fit: cover;
    width: 100%;
}

#header h1,
#header p {
    color: #fff;
}

#header h1 {
    font-size: 3.5em;
}

#header p {
    font-size: 1.5em;
}

/*---------- Portfolio ----------*/

.background-image-holder {
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position: 50% 50% !important;
    background-repeat: repeat;
    background-size: cover !important;
    height: 100%;
    left: 0;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: 1;
}

.background-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.square-thumbs li {
    height: 285px;
}

.lightbox-grid li {
    padding: 8px;
    float: left;
    opacity: 1;
    transition: all 0.3s ease 0s;
}

@media (max-width: 992px) {
    .lightbox-grid li {
        padding: 8px 0;
    }
}

.lightbox-grid,
.lightbox-grid ul,
.lightbox-grid li {
    overflow: hidden;
    position: relative;
}

.portfolio-sorting {
    padding-left: 15px;
    font-family: 'Open Sans', sans-serif;
}

.portfolio-sorting li a:hover,
.portfolio-sorting li a.active {
    border-bottom: 2px solid #222;
}

.portfolio-item {
    margin-bottom: 30px;
}

/* ------------ My changes ------------ */

.item {
    height: 100vh;
}

.item img {
    width: 100%;
    height: 100vh !important;
    object-fit: cover;
}

.monochrome {
    display: block;
    filter: grayscale(1) brightness(200%) contrast(120%);
    mask-size: contain;
}

.carousel-indicators li {
    height: 6px;
    border-radius: 2px;
}

.carousel-indicators li.active {
    background-color: goldenrod;
}


.circle {
    position: fixed;
    bottom: -20vw;
    right: -20vw;
    width: 50vw;
    height: 50vw;
    z-index: -1;
}

.circle-lg,
.circle-sm,
.circle-gold,
.circle-blue {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 2px;
}

.circle-lg {
    width: 40vw;
    height: 40vw;
    border: 1px solid lightgray;
    animation: rotate 8s ease infinite;
}

.circle-sm {
    width: 32vw;
    height: 32vw;
    border: 1px solid darkgray;
    animation: rotate 8s .4s ease infinite;
}

.circle-gold {
    width: 35vw;
    height: 35vw;
    border: 1px solid goldenrod;
    animation: rotate 8s .2s ease infinite;
}

.circle-blue {
    width: 25vw;
    height: 25vw;
    border: 1px solid dodgerblue;
    animation: rotate 8s .6s ease infinite;
}

.circle-lg,
.circle-sm,
.circle-gold,
.circle-blue {
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border-right: 1px solid transparent;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg)
    }

    50% {
        transform: translate(-50%, -50%) rotate(360deg)
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg)
    }
}

.authors-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width:768px) {
    .authors-container {
        justify-content: space-evenly;
    }
}

.flex-author {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    padding: 3px;
    overflow: hidden;
}

.author-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;
    border: 20px solid white;
    border-radius: 50%;
    box-shadow: 0 0 3px 1px lightgray;
    overflow: hidden;
}

.author-img {
    display: block;
    width: 100%;
}

.author-name {
    position: relative;
    display: block;
    width: 220px;
    line-height: 5rem;
    padding: 10px;
    border-radius: 5rem;
    box-shadow: 0 0 2px 1px lightgray;
    background-color: white;
    margin: 0;
    margin-left: -5px;

}

.author-name::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    border-top: none;
    width: 8px;
    height: 36px;
    background-color: white;

}

/* @media (orientation:landscape) { */
@media {
    .flex-author:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .flex-author:nth-child(odd) .author-name {
        margin-left: 0;
        margin-right: -5px;
    }

    .flex-author:nth-child(odd) .author-name::before {
        right: 0;
        left: auto;
        transform: translate(50%, -50%);
    }
}

.carousel-item {
    height: calc(100vh - 71px);
    width: 100vw;
    object-fit: cover;
}

@media (orientation:landscape) and (min-width: 768px) {
    .carousel-item {
        height: calc(100vh - 101px);
        object-fit: cover;
    }
}


.img-gray {
    filter: grayscale(1);
    transition: .5s ease;
}

.card {
    box-shadow: 0 0 5px 1px lightgray;
}

.card:hover {
    box-shadow: 0 0 3px goldenrod;
}

.card:hover .img-gray {
    filter: none;
}




/* ------------ forms ------------ */

.form-container {
    position: relative;
}

form {
    padding-bottom: 50px;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.asteriskField {
    color: red;
}

.is-invalid {
    background: rgba(255, 190, 190, .95);
}

.invalid-feedback>strong {
    color: red;
}

.alert {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    font-size: .9rem;
}

.alert-danger li {
    color: rgba(100, 0, 0);
}


/* SVG */
.img-svg {
    display: none;
}

@media(min-width:1024px) {
    .img-svg {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 30vw;
    }

    #b9950e65-c983-427f-969f-411e60d4718f {
        width: 80%;
    }
}